[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotframework = "==3.2.2"
robotframework-seleniumlibrary = "==5.1"

[dev-packages]

[requires]
python_version = "3.9"
